{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dodaj post</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      {% if user.is_authenticated %}
      <h2>Dodaj nowy post</h2>
      <form method="post" class="form">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Dodaj post</button>
        {% else %}
        <p>Musisz być zalogowany, aby dodać post.</p>
        <a href="{% url 'login' %}">Zaloguj się</a>
        {% endif %}
        <a href="{% url 'index' %}">Powrót na stronę główną</a>
      </form>
    </div>
  </body>
</html>
