{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edytuj post</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <h2>Edytuj post</h2>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Zapisz zmiany</button>
    </form>
    {% else %}
    <p>Musisz być zalogowany, aby edytować post.</p>
    <a href="{% url 'login' %}">Zaloguj się</a>
    {% endif %}
    <a href="{% url 'index' %}">Powrót na stronę główną</a>
  </body>
</html>
