{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona Główna</title>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}" />
  </head>
  <body>
    <h1>Witaj na stronie głównej {{ user.username }}</h1>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}">Mój profil</a>
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button type="submit">Wyloguj się</button>
    </form>
    <p>Jesteś zalogowany: {{ user.is_authenticated }}</p>
    {% endif %}
    <p>
      {% if not user.is_authenticated %}
      <a href="{% url 'login' %}">Zaloguj się</a> lub
      <a href="{% url 'register' %}">Zarejestruj się</a>
      {% endif %} {% if user.is_authenticated %}
      <a href="{% url 'add_post' %}">Dodaj post</a>
      {% endif %}
    </p>
    <ul>
      {% for post in posts %}
      <li>
        <h2>{{post.title}}</h2>
        <p>{{ post.content }}</p>
        <p><strong>Autor:</strong> {{ post.author.username }}</p>
        <p>
          <strong>Data utworzenia:</strong>
          {{ post.created_at|date:"d-m-Y H:i" }}
        </p>
        {% if request.user == post.author %}
        <a href="{% url 'edit_post' post.id %}">Edytuj</a>
        <a
          href="{% url 'delete_post' post.id %}"
          onclick="return confirm('Czy na pewno chcesz usunąć ten post?')"
          >Usuń</a
        >
        {% endif %}
        <form method="post" action="{% url 'add_comment' post.id %}">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Dodaj komentarz</button>
        </form>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'add_rate' post.id %}">
          {% csrf_token %} {{ rate_form.as_p }}
          <button type="submit">Oceń</button>
        </form>
        {% endif %} {% if post.comments.all %}
        <h3>Komentarze:</h3>
        <ul>
          {% for comment in post.comments.all %}
          <li>
            <strong>{{ comment.author.username }}:</strong> {{ comment.text }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Brak komentarzy.</p>
        {% endif %} {% if post.rates.all %}
        <h3>Oceny:</h3>
        <ul>
          {% for rate in post.rates.all %}
          <li>
            <strong>{{ rate.user.username }}</strong> Ocena: {{ rate.score }}
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p>Brak ocen.</p>
        {% endif %}
      </li>
      <hr />
      {% endfor %}
    </ul>
  </body>
</html>
