{% load static %}
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rejestracja</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1>Rejestracja</h1>
      <form method="post" class="form">
        {% csrf_token %} {{ form.as_p }}
        <div class="center-this">
          <button type="submit">Zarejestruj się</button>
          <a href="{% url 'index' %}">Powrót na stronę główną</a>
        </div>
      </form>
    </div>
  </body>
</html>
